**/api_keys.py
**/.ipynb_checkpoints/
**/.DS_Store
__pycache__/
bottle.csv
cast.csv
crime_data.csv
diabetes.csv
belize_airbnb_listings.csv
Ex_Files_Math_ML_Python_Edition/
australian.crime_data
outfile.csv
